
/* Estilo para el header */
.navbar {
  width: 100%;
  background-color: #b8d1e1; /* Fondo blanco para resaltar */
  box-shadow: 0px 4px 10px rgba(24, 23, 23, 0.1); /* Sombra para efecto elevado */
  border-bottom: 2px solid #e3e3e3; /* Línea sutil en el borde inferior */
  padding: 50px 20px; /* Espacio interno */
  position: sticky;
  z-index: 1000; /* Asegura que el header esté sobre el contenido */
}

/* Estilo común para los botones de icono */
.icon-button {
  background-color: #e3eb7b; /* Fondo del botón */
  color: #0a0a0a; /* Color del icono */
  border: none;
  border-radius: 50%; /* Forma circular */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-left: 10px; /* Espacio entre los botones */
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Efecto hover para los botones */
.icon-button:hover {
  background-color: #cddc39;
}



body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(100deg, #e3eb7b, #96b60b);
  /*min-height: 100vh;*/

}

.index-container h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: 700;
  color: #080808;
  text-align: center;
  margin-bottom: 30px;
}

/* Estilos para el contenedor del carrusel y el texto */
.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.carousel-container {
  flex: 1;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.3);
  border: 3px solid #0a0a0a;
  overflow: hidden;
  max-width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
    display: flex;
  flex-wrap: nowrap; /* Asegura que las imágenes no se desborden */
  width: 100%;
  height: 400px; /* Define una altura fija para el carrusel */
}

.carousel-item {
  min-width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #000000;
  transition: color 0.3s;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  color: #ffffff;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

/* Estilos para la sección de texto */
.text-section {
  flex: 1;
  text-align: left;
  max-width: 50%;
}

.text-section p {
  font-size: 1.2em;
  color: #000000;
  margin-bottom: 20px;
  line-height: 1.5;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container button {
  background-color: #ffffff;
  border: 1px solid #96b60b;
  padding: 10px;
  margin: 5px 0;
  color: #0a0a0a;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
  border-radius: 5px;
  width: 60%;
}

.button-container button:hover {
  background-color: #b8d1e1;
}

.icon-button:hover {
  background-color: #e3eb7b;
}

.icon-user span {
  color: #07230b;
}

/* Estilos comunes para los botones */
.icon-button {
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

/* Estilos específicos para el botón de información */
.icon-info {
  top: 20px;
  left: 20px;
  background-color: #07230b; /* Fondo oscuro para el botón de info */
  color: #b8d1e1; /* Color del icono y texto */
}

/* Estilos específicos para el botón de usuario */
.icon-user {
  top: 20px;
  right: 20px;
  background-color: #e3eb7b; /* Color de fondo claro */
  color: #07230b
}

.icon-button:hover {
  background-color: #96b60b; /* Cambia el color en hover */
}


.icon-button span.material-icons {
  font-size: 60px; /* Tamaño del ícono */
}


.footer {
  background-color: #96b60b;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: left;
  margin-top: 60px;
  width: 100%;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    p {
      margin: 0;
      font-size: 14px;
    }

    a {
      color: #ffffff;
      text-decoration: underline;
    }

    .footer-button {
      background-color: #ffffff;
      border: none;
      border-radius: 5px;
      color: #96b60b;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;

      mat-icon {
        font-size: 20px;
        color: #1877f2; /* Color del icono de Facebook */
      }

      &:hover {
        background-color: #b8d1e1;
        color: #000000;
      }
    }
  }
}

.custom-button {
  border: 2px solid #90EE90;
  /* Verde claro */
  border-radius: 8px;
  /* Bordes redondeados */
  background-color: white;
  /* Fondo blanco */
  color: #006400;
  /* Texto verde oscuro */
  font-size: 16px;
  /* Tamaño de fuente */
  padding: 10px 20px;
  /* Espaciado interno */
  cursor: pointer;
  /* Manita al pasar el cursor */
  box-shadow: 0 4px 8px rgba(144, 238, 144, 0.4);
  /* Sombra verde claro */
  transition: all 0.3s ease;
  /* Transición para suavizar cambios */
}

.custom-button:hover {
  background-color: #90EE90;
  /* Fondo verde claro al pasar el mouse */
  color: white;
  /* Texto blanco */
  box-shadow: 0 6px 12px rgba(144, 238, 144, 0.6);
  /* Sombra más intensa */
}