.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Divide las secciones */
  background-color: #b8d1e1; /* Fondo azul oscuro */
  color: #000000; /* Texto negro por defecto */
  padding: 0.2rem 2rem;
  height: 65px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil en la parte inferior */
  font-size: 22px; /* Tamaño general del texto */
  font-weight: bold; /* Mejora la legibilidad */
  border-bottom-left-radius: 30px; /* Curva en la esquina inferior izquierda */
  border-bottom-right-radius: 30px; /* Curva en la esquina inferior derecha */
 margin-top: 2px;


  /* Sección derecha (Login) */
  .navbar-right {
    display: flex;
    align-items: center;

    .navbar-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000000; /* Texto negro por defecto */
      padding: 0.5rem 1rem;
      border-radius: 8px;

      mat-icon {
        font-size: 40px;
        /*Tamañodelícono*/background-color: #ffffff;
        /*Fondoblanco*/color: #96b60b;
        /*Colordelícono*/border-radius: 50%;
        /*Espaciointerno*/margin-right: 0.5rem;
        /*Espacioentreíconoytexto*/display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        /*Tamañodelcírculo*/height: 40px;
         /* Tamaño del círculo */      
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

      &:hover {
        color: #ffffff; /* Texto blanco al pasar el mouse */
        background-color: #96b60b; /* Fondo del botón en hover */
      }
    }
  }
}

.user-alias {
  display: flex;
  align-items: center;
  color: #000; /* Color del texto */
  font-size: 16px;
  font-weight: bold;
  cursor: default;

  mat-icon {
    margin-right: 0.5rem;
    font-size: 24px;
    color: #96b60b; /* Color del ícono */
  }
}
