<nav class="navbar">
  <!-- Botón de hamburguesa en la izquierda -->
  <div class="navbar-left">
    <app-hamburger-menu></app-hamburger-menu>
  </div>

 <!-- Botón de gestión de cerrar sesión -->
 <div class="navbar-right" *ngIf="isLoggedIn">
  <app-boton-gestion-cerrar></app-boton-gestion-cerrar>
</div>
  
    <!-- Ítems principales al centro -->
    <div class="navbar-center">
      <ul class="navbar-items">
        <li *ngFor="let item of menuItems()">
          <a [routerLink]="item.route" class="navbar-link">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </div>
  
    <!-- Botón de login a la derecha -->
    <div class="navbar-right">
      <a [routerLink]="'login'" class="navbar-link">
        <mat-icon>account_circle</mat-icon>
        <span>Inicio de sesión</span>
      </a>
    </div>
  </nav>
  