<div class="create-account-container">
  <!-- Botón para regresar -->
  <div class="back-button">
    <a routerLink="/login">
      <mat-icon>arrow_back</mat-icon>
    </a>
  </div>

  <!-- Contenedor del formulario -->
  <div class="form-container">
    <div class="icon-container">
      <mat-icon>person_add</mat-icon>
    </div>
    <h2>Crear cuenta</h2>

    <div class="input-group">
      <input type="text" placeholder="nombre" class="input-field" />
      <input type="text" placeholder="apellidos" class="input-field" />
    </div>

    <input type="text" placeholder="@ usuario" class="input-field" />
    <input type="email" placeholder="correo electrónico" class="input-field" />
    <input type="password" placeholder="contraseña" class="input-field" />

    <select class="input-field">
      <option value="" disabled selected>género</option>
      <option value="masculino">Masculino</option>
      <option value="femenino">Femenino</option>
      <option value="otro">Otro</option>
    </select>

    <button class="login-button">Aceptar</button>
  </div>
</div>
