<div class="container">
    <button class="back-button" (click)="goBack()">←</button>
  
    <div class="card">
      <h2 class="Cabezera" id="Cabezera">Crear publicacion</h2>
  
      <form (ngSubmit)="crearRestaurante()" #formulario="ngForm">
        <input
          type="text"
          id="nombreRestaurante"
          placeholder="Nombre del restaurante"
          [(ngModel)]="restaurante.nombre_restaurante"
          name="nombre_restaurante"
          #nombreRestaurante="ngModel"
          required
          minlength="1"
        />
        <div *ngIf="nombreRestaurante.invalid && nombreRestaurante.touched" class="error">
          El nombre es obligatorio y debe tener al menos un carácter.
        </div>
  
        <textarea
          id="descripcionRestaurante"
          placeholder="Descripción del restaurante"
          [(ngModel)]="restaurante.descripcion_restaurante"
          name="descripcion_restaurante"
          #descripcionRestaurante="ngModel"
          required
          minlength="10"
        ></textarea>
        <div *ngIf="descripcionRestaurante.invalid && descripcionRestaurante.touched" class="error">
          La descripción es obligatoria y debe tener al menos 10 caracteres.
        </div>
  
        <input
          type="text"
          id="direccionRestaurante"
          placeholder="Dirección del restaurante"
          [(ngModel)]="restaurante.direccion"
          name="direccion"
          #direccion="ngModel"
          required
        />
        <div *ngIf="direccion.invalid && direccion.touched" class="error">
          La dirección es obligatoria.
        </div>
  
        <input
          type="url"
          id="imagenRestaurante"
          placeholder="URL de la imagen del restaurante"
          [(ngModel)]="restaurante.imagen"
          name="imagen"
          #imagen="ngModel"
          required
        />
        <div *ngIf="imagen.invalid && imagen.touched" class="error">
          La URL de la imagen es obligatoria y debe ser válida.
        </div>
  
        <button type="submit" id="crearRestaurante" [disabled]="formulario.invalid">Crear Restaurante</button>
      </form>
    </div>
  </div>
  