<div class="info-section">
    <div class="info-card">
      <h2 class="info-title">MISIÓN</h2>
      <p class="info-text">
        Brindar a nuestros actores, estudiantes y a la comunidad limonense una experiencia culinaria excepcional mediante las recetas de comidas de alta calidad de nuestra gastronomía limonense.
      </p>
    </div>
    <div class="info-card">
      <h2 class="info-title">VISIÓN</h2>
      <p class="info-text">
        Que este proyecto pueda en el futuro tener relaciones interculturales con los diferentes países de las islas del Caribe y universidades gubernamentales para así dar a conocer las verdaderas recetas culinarias del arte de la gastronomía autóctona de la zona de Limón.
      </p>
    </div>
  </div>
  