<div class="container">
  <button class="back-button" (click)="goBack()">  <mat-icon>arrow_back</mat-icon></button>
  
    <div class="card" *ngIf="comidaEspecifica">
      <h2 class="Cabezera">Restaurantes</h2>
  
      <div id="informacion">
        <h3 class="usuarioMaker">{{ comidaEspecifica.usuario_id }}</h3>
        <h3 class="fechaPubli">{{ comidaEspecifica.fecha_creacion}}</h3>
      </div>
  
      <h2 id="nombre_comida">{{ comidaEspecifica.nombre_restaurante }}</h2>
  
      <textarea id="descripcion_comida" placeholder="Escribe aquí la descripción" readonly>{{ comidaEspecifica.descripcion_restaurante }}</textarea>
  
      <textarea id="elaboracion" placeholder="Escribe aquí el proceso" readonly>{{ comidaEspecifica.direccion }}</textarea>
  
      <img id="imagen" [src]="comidaEspecifica.imagen" alt="Imagen de la receta" />
    </div>
    <button class="custom-button" (click)="openRemarkDialog(publicacionId)">Ver comentarios</button>
  </div>

  