<div class="perfil-container">
  <!-- Foto de perfil -->
  <div class="foto-container">
    <img [src]="fotoPerfilUrl" alt="Foto de perfil" class="foto-perfil" />
    <input type="file" id="file-upload" accept="image/*" (change)="onFileSelected($event)" hidden />
    <button type="button" class="btn-cambiar-foto" (click)="triggerFileUpload()">Cambiar foto</button>
  </div>

  <!-- Formulario para editar perfil -->
  <form [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()" class="perfil-form">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" class="form-control" placeholder="Ingresa tu nombre" formControlName="nombre" />
      <div *ngIf="perfilForm.get('nombre')?.invalid && perfilForm.get('nombre')?.touched" class="error">
        Nombre es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="apellido1">Primer Apellido:</label>
      <input type="text" id="apellido1" class="form-control" placeholder="Ingresa tu primer apellido"
        formControlName="apellido1" />
      <div *ngIf="perfilForm.get('apellido1')?.invalid && perfilForm.get('apellido1')?.touched" class="error">
        Primer apellido es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="apellido2">Segundo Apellido:</label>
      <input type="text" id="apellido2" class="form-control" placeholder="Ingresa tu segundo apellido"
        formControlName="apellido2" />
      <div *ngIf="perfilForm.get('apellido2')?.invalid && perfilForm.get('apellido2')?.touched" class="error">
        Segundo apellido es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="usuario">&#64; Usuario:</label>
      <input type="text" id="usuario" class="form-control" placeholder="Ingresa tu nombre de usuario"
        formControlName="usuario" />
    </div>

    <div class="form-group">
      <label for="correo">Correo electrónico:</label>
      <input type="email" id="correo" class="form-control" placeholder="Ingresa tu correo electrónico"
        formControlName="correo" />
      <div *ngIf="perfilForm.get('correo')?.invalid && perfilForm.get('correo')?.touched" class="error">
        Ingresa un correo electrónico válido.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Nueva Contraseña:</label>
      <input type="password" id="password" class="form-control" placeholder="Ingresa una nueva contraseña"
        formControlName="password" />
      <div *ngIf="perfilForm.get('password')?.invalid && perfilForm.get('password')?.touched" class="error">
        La contraseña debe tener al menos 6 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirmar Nueva Contraseña:</label>
      <input type="password" id="confirm-password" class="form-control" placeholder="Confirma tu nueva contraseña"
        formControlName="confirmPassword" />
      <div *ngIf="perfilForm.get('confirmPassword')?.hasError('mismatch') && perfilForm.get('confirmPassword')?.touched"
        class="error">
        Las contraseñas no coinciden.
      </div>
    </div>

    <div class="form-group">
      <label for="genero">Género:</label>
      <select id="genero" class="form-control" formControlName="genero">
        <option value="" disabled>Selecciona tu género</option>
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
      <div *ngIf="perfilForm.get('genero')?.invalid && perfilForm.get('genero')?.touched" class="error">
        Selecciona tu género.
      </div>
    </div>

    <div class="form-buttons">
      <button type="submit" class="btn-guardar" [disabled]="loading">
        {{ loading ? 'Guardando...' : 'Guardar cambios' }}
      </button>
      <button type="button" class="btn-cancelar" (click)="perfilForm.reset()">Cancelar</button>
    </div>
  </form>
</div>
